@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{ /* блок для выравнивая содержимого */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

/* шапка */

header{
    background-color: #fafafa;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.logo{
    width: 80px;
}

/* бургер-меню */
        /* скрываем чекбокс */
        #menu__toggle {
            opacity: 0;
          }
          /* стилизуем кнопку */
          .menu__btn {
            display: flex; /* используем flex для центрирования содержимого */
            align-items: center;  /* центрируем содержимое кнопки */
            position: fixed;
            top: 20px;
            right: 20px;
            width: 26px;
            height: 26px;
            z-index: 1;
          }
          /* добавляем "гамбургер" */
          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
          }
          .menu__btn > span::before {
            content: '';
            top: -8px;
          }
          .menu__btn > span::after {
            content: '';
            top: 8px;
          }
          /* контейнер меню */
          .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;
            width: 20%;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            text-align: center;
            background-color: rgba(130, 130, 130, 50%);
          }
          /* элементы меню */
          .menu__item {
            display: block;
            padding: 12px 24px;
            color: white;              
            text-decoration: none;
          }
          .menu__item:hover {
            background-color: #282929;
          }
          #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
          }
          #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu__toggle:checked ~ .menu__box {
            visibility: visible;
            right: 0;
          }

/* главный экран */

.sale{
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    background: url(images/123.jpg);
    background-size: cover;
    padding-top: 25vh;
}

h1 {
    color: #fff;
    font-size: 48px;
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}



/* колонки с текстом */

.textInner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.column{
    width: 25%;
}

/* подвал */

footer{
    width: 100%;
    background-color: #fafafa;
    color: #505250;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footerInner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.footerA{
    color: #505250;
    text-decoration: none;

}